.no-webp .imagen-contacto{
    background-image: url(../../build/img/encuentra.jpg);
}
.webp .imagen-contacto{
    background-image: url(../../build/img/encuentra.webp);
}


.imagen-contacto{
    background-position: center center;
    background-size: cover;
    padding: $separacion * 1.5 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2,p {
        color: $blanco;
        margin-top: 0;
        text-align: center;
    }
    h2{
        font-weight: 900;
        font-size: 4rem;
    }
    p{
        font-size: 1.8rem;
    }
}

.forma-contacto{
    margin-bottom: 2rem;
}

