//DarkMode

.navegacion-darkmode {
    @include tablet {
        display: flex;

    }

    gap: 10rem;
}

.contenedor-darkmode {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(100%);

    &:hover {
        cursor: pointer;
    }

    .dark-mode-boton {
        width: 3rem;
    }
}

.dark-mode-boton {
    filter: invert(0%);
}

.dark-mode{
    background-color: darken($grisOscuro, 10);
    p{
        color: $blanco;
    }

    a, h1, h2, h3, h4{
        color: $gris;
    }
    .anuncio{
        background-color: $grisOscuro;
        border-color: darken($gris, 50);
    }
    .iconos{
        filter: invert(65%);
    }
    .entrada-blog{
        background-color: $grisOscuro;
        border-color: darken($gris, 50);
    }
    .formulario{
        label, 
        legend,
        p {
            color: $gris;
        }

        input:not([type="submit"]),
        textarea,
        select{
            background-color: $grisOscuro;
            color: $blanco;
            border-color: lighten($grisOscuro, 10);
        }
    }
    .propiedades-info{
        td{
            color: $blanco;
        }
    }
}
